<div class="container py-2"><div class="card mat-card">
    <div id="experiencie">
        <div class="card-titles">
            <h2>Experiencia</h2>           
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        
        <div>
            <ul class="items-list">
                <li *ngFor="let experiencia of experienciaList">
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container">
                                <div class="list-info">
                                    <img class="logo-image rounded border border-secondary" [src]="experiencia.img"  width="300px"/>
                                            <div>
                                                <h3>{{experiencia.company}}</h3>
                                                <p>{{experiencia.position}}</p>
                                                <p>{{experiencia.mode}}</p> 
                                                <p><time>{{experiencia.start}}</time> - <time>{{experiencia.end}}</time></p>                                               
                                            </div>
                                </div>
                            </div>    
                        </a>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa-icon"></i></a>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>    




    <div id="education">
        <div class="card-titles">
            <h2>Educación</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-icon"></i></a>
            </div>
        </div>
        
        <div>
            <ul class="items-list">
                <li *ngFor="let educacion of educacionList">
                    <div class="data-container">
                        <a href="#">
                            <div class="logo-image-container"> 
                            <img class="logo-image rounded border border-secondary" [src]="educacion.img"  width="300px"/>
                            </div> 
                            <div class="list-info">
                                <div>
                                    <h3>{{educacion.school}}</h3>                                    
                                    <p>{{educacion.carrera}}</p>                                   
                                    <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
                                </div>                                
                            </div>
                        </a>
                    </div>
                    
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>    

</div>
</div>
